<section class="home-page">
  <ng-container *ngIf="user$ | async as User">
    <div class="welcome">Welcome</div>
    <h2>Hello {{ user.name }}!</h2>
    <div class="cards-container">
      <div>Total Balance:</div>
      <div class="flex align-center card">
        <img src="./assets/usd-icon.png" />
        <div class="balance flex align-center space-between">
          <span>Coins: </span>
          <p>${{ user.coins }}</p>
        </div>
      </div>
      <div class="flex align-center card">
        <img src="./assets/bitcoin-icon.png" />
        <div class="balance flex align-center space-between">
          <span>BTC: </span>
          <p>{{ rate }}</p>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!user">
    <section class="hero-container">
      <div class="left">
        <div class="title">Lorem & ipsum dolor sit amet</div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat aut
          commodi fugit, dicta maxime nam amet voluptate vitae. Quisquam ut
          natus recusandae deleniti architecto.
        </p>
        <button [routerLink]="['/signup']" class="signup-btn">Signup</button>
      </div>
      <div class="right slide-top"></div>
    </section>
  </ng-container>
</section>
