<div class="flex center column signup-form">
    <!-- <img src="../../../assets/img/bitcoinlogo.png" /> -->
    <h1 class="capitalize field">Please Sign up</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur saepe in, iure placeat fugiat modi?</p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter username..." [(ngModel)]="user.name">
    <button (click)=(signUp()) class="capitalize button signup-btn">Signup</button>
</div>