.contact-details {
    // display: flex;
    text-align: center;
    margin: 50px auto;

    h1 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
    }

    img {
        border-radius: 50%;
        margin-bottom: 15px;
        border: 1px solid white;
        padding: 10px;
    }

    p {
        margin: 5px auto;
    }

    button {
        padding: 8px 25px;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        font-weight: 500;
        background-color: #bbc;
        margin: 45px 5px 0px 5px;
        cursor: pointer;
        transition: 300ms;
        &:hover{
            color: #fff;
        }

        &.edit-btn {
            background-color: #ffc107;
        }
    }
}