footer{
    text-align: center;
    // padding-top: 25px;
    // background-color: #5865F2;
    background-color: #020A1F;
    box-shadow: 1px 0px 2px rgb(0 0 0 / 20%);
    color: #FFF;
    border-top: 3px solid #fbbd18;
    padding: 7px 0;
}